.menu-container {
    background-color: #100720;
   color: #FCF8E8;
   height: 57px;
   align-items: center;
   display: flex;
   justify-content: none;
   

   .ant-menu-item a {
    color: #fff
   }
}

