.shipping-container {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.shipping-title{
    margin-bottom: 20px;
    text-align: center;
}

.alert-container {
    margin-top: 10px;
    margin-bottom: 20px;
}

.checkout-container {
    margin-bottom: 20px;
  

    .ant-menu-horizontal{
        justify-content:center ;
    }
}

.select-payment{
    margin-bottom: 30px;
}

.payment-btn{
    margin-top: 30px;
}